# Ignore node_modules and build artifacts
node_modules
build
dist

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE settings
.vscode
.idea

!package.json
!package-lock.json