# Node modules
node_modules/
package-lock.json
package.json
yarn.lock
# Expo files
.expo/
.expo-shared/

# Metro cache
.cache/

# Babel cache
babel.config.js

# OS-specific
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Firebase private keys (only if using service account)
serviceAccountKey.json
FirebaseConfig.js
firebase.json
firebase-debug.log
firebase.rules
firebase.ruleset.json

# Android
android/app/debug.keystore
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/build/
ios/Podfile.lock
ios/Podfile~

# React Native
*.log
*.lock
*.iml
*.hprof

# VS Code settings
.vscode/

# Web build (if using Expo web)
web-build/

# ESLint cache
.eslintcache

# Coverage reports
coverage/

# Watchman
.watchmanconfig
